{% extends 'uor/layout/entity.html' %}
{% load compress proj_images %}


{% block link %}
    {{ block.super }}

    {% compress css inline %}
        <style>
            #content .service {
                padding: 4rem 0 0;
            }

            #content .service h2 {
                margin: 0 0 2.5rem;
            }

            #content .service figure {
                float: left;
                margin: .25rem 1rem .25rem 0;
            }

            #content .service ul {
                color: #355;
                overflow-x: hidden;
            }

            #content .service .price {
                color: #d00016;
                font-size: 180%;
                font-weight: 600;
            }
        </style>
    {% endcompress %}
{% endblock link %}


{% block content %}
    {% with size='192' lazy='lazy.png' class='img-rounded' lightbox='finish' %}
        <div class="container">
            <p>
                <strong>Управления Отделочных Работ ГК&nbsp;«ССК»</strong> предлагает Вам услуги по комплексному
                выполнению ремонтных и отделочных работ на новых и реконструируемых объектах в г.&nbsp;Москве и
                Московской области.
            </p>


            <div id="service-cosmetics"
                 class="service readable clearfix"
            >
                <h2>Косметический ремонт</h2>

                <figure>
                    {% thumb 'uor/clipart/08.jpg' title='Косметический ремонт' %}
                </figure>

                <p>
                    В <strong>косметический ремонт</strong> входит частичное обновление интерьера,
                    поэтому <b>стоимость ремонта</b> квартиры достаточно низкая. В него может входить оклейка стен
                    обоями, покраска потолков, окон, настил линолеума, ковролина, замена розеток, выключателей.
                </p>

                <p>
                    Стоимость <em>косметического ремонта</em> варьируется
                    от <span class="price">1.500</span> до <span class="price">3.000</span> рублей за м<sup>2</sup>.
                </p>
            </div>


            <div id="service-econom"
                 class="service readable clearfix"
            >
                <h2>Ремонт эконом класса</h2>

                <figure>
                    {% thumb 'uor/clipart/20.jpg' title='Ремонт эконом класса' %}
                </figure>

                <p>
                    Ремонт эконом класса это бюджетный вариант. Данный тип ремонта позволяет при небольших затратах
                    добиться приемлемого результата. Для новостроек данный вид подходит только тогда, когда квартира
                    сдана с полной электро- и сантехнической разводкой.
                </p>

                <p>Такой вид ремонта включает в себя:</p>
                <ul class="push">
                    <li>устройство выравнивающей стяжки пола до 50&nbsp;мм;</li>
                    <li>небольшой объем электромонтажных работ (замена розеток, выключателей, незначительное добавление
                        новых электроточек);
                    </li>
                    <li>небольшой объем сантехнических работ (частичная замена узлов);</li>
                    <li>частичное выравнивание стен под обои и плитку;</li>
                    <li>выравнивание потолков;</li>
                    <li>укладка керамической плитки;</li>
                    <li>устройство подвесного (реечного или <acronym>Armstrong</acronym>) потолка;</li>
                    <li>окраска потолков;</li>
                    <li>финишное покрытие стен;</li>
                    <li>укладка линолеума или ковролина;</li>
                    <li>установка дверных блоков.</li>
                </ul>

                <p>
                    Стоимость такого ремонта варьируется
                    от <span class="price">3.000</span> до <span class="price">5.000</span> рублей за м<sup>2</sup>.
                </p>
            </div>


            <div id="service-euro"
                 class="service readable clearfix"
            >
                <h2>Евроремонт</h2>

                <figure>
                    {% thumb 'uor/clipart/18.jpg' title='Евроремонт' %}
                </figure>

                <p>Евроремонт &mdash; это более качественная отделка квартиры по сравнению с ремонтом эконом класса, с
                    большим количеством строительных работ. Они производятся с применением широкого спектра отделочных
                    материалов. Очень часто осуществляется в новостройках.</p>

                <p>Евроремонт может включать в себя:</p>
                <ul class="push">
                    <li>демонтаж существующей отделки;</li>
                    <li>возведение стен и перегородок (из кирпича, пеноблоков, пазогребневых блоков, ГКЛ);</li>
                    <li>устройство выравнивающей стяжки пола;</li>
                    <li>электромонтажные работы «под ключ»;</li>
                    <li>сантехнические работы «под ключ»;</li>
                    <li>утепление балконов;</li>
                    <li>натяжные потолки или подвесные потолки из ГКЛ (не сложной геометрической формы) с подсветкой;
                    </li>
                    <li>декоративные элементы из ГКЛ (ниши, перегородки, арки);</li>
                    <li>выравнивание стен под обои и плитку, выравнивание потолков под окраску;</li>
                    <li>укладка керамической плитки;</li>
                    <li>финишная окраска потолков;</li>
                    <li>поклейка обоев ( в том числе под окраску);</li>
                    <li>укладка паркетной доски/ламината/линолеума/ковролина;</li>
                    <li>установка дверных блоков;</li>
                    <li>установка электротехнических приборов, оборудования;</li>
                    <li>монтаж теплых полов.</li>
                </ul>

                <p>
                    Стоимость такого ремонта варьируется
                    от <span class="price">5.000</span> до <span class="price">10.000</span> рублей за м<sup>2</sup>.
                </p>
            </div>


            <div id="service-elite"
                 class="service readable clearfix"
            >
                <h2>Элитный ремонт</h2>

                <figure>
                    {% thumb 'uor/clipart/07.jpg' title='Элитный ремонт' %}
                </figure>

                <p>
                    Это высококачественный ремонт, который дает заказчику максимальные возможности по перепланировке и
                    эксклюзивному оформлению. Поэтому необходимо подготовить индивидуальный дизайн-проект, который
                    включает не только эскизы будущих помещений, а также содержит чертежи, описания необходимых
                    материалов, схему электропроводки, водоснабжения, системы вентиляции, кондиционирования.
                </p>

                <p>
                    Дизайн-проект позволяет заказчику сразу представить себе будущую квартиру, а фирме-подрядчику четко
                    спланировать рабочий процесс. При этом используются новейшие материалы, а так же современные
                    технологии. Устанавливаются более сложные системы отопления, вентиляции, освещения и
                    электроснабжения. Появляются более сложные архитектурные и художественные решения. Улучшается шумо-
                    и звукоизоляция. Характерна высококачественная подготовка стен и потолков.
                </p>

                <p>В элитный ремонт входят:</p>
                <ul class="push">
                    <li>демонтаж существующей отделки, стен, перегородок;</li>
                    <li>возведение стен и перегородок;</li>
                    <li>устройство выравнивающей стяжки пола;</li>
                    <li>большой объем электромонтажных работ «под ключ»;</li>
                    <li>сантехнические работы «под ключ»;</li>
                    <li>утепление балконов;</li>
                    <li>натяжные потолки или подвесные потолки из ГКЛ (сложной геометрической формы) с подсветкой;</li>
                    <li>декоративные элементы из ГКЛ (ниши, перегородки, арки);</li>
                    <li>выравнивание стен под обои, покраску, плитку, выравнивание потолков под окраску;</li>
                    <li>укладка керамической плитки или мрамора, укладка керамической / стеклянной мозаики;</li>
                    <li>финишное покрытие потолков (окраска, структурная окраска, декоративная штукатурка);</li>
                    <li>финишное покрытие стен (обои, обои под покраску, структурная окраска, декоративная
                        штукатурка);
                    </li>
                    <li>укладка штучного паркета (массивной доски, ламината, паркетной доски, пробки);</li>
                    <li>установка дверных блоков;</li>
                    <li>установка электротехнических приборов и оборудования;</li>
                    <li>монтаж теплых полов.</li>
                </ul>

                <p>
                    Данный вид ремонта будет стоить
                    от <span class="price">10.000</span> рублей за м<sup>2</sup>.
                </p>
            </div>
        </div>
    {% endwith %}
{% endblock content %}
