{% extends 'uor/layout/entity.html' %}
{% load compress proj_images %}


{% block link %}
    {{ block.super }}

    {% compress css inline %}
        <style>
            #content .service {
                padding: 4rem 0 0;
            }

            #content .service h2 {
                margin: 0 0 2.5rem;
            }

            #content .service figure {
                float: left;
                margin: .25rem 1rem .25rem 0;
            }

            #content .service .price {
                color: #d00016;
                font-size: 180%;
                font-weight: 600;
            }
        </style>
    {% endcompress %}
{% endblock link %}


{% block content %}
    {% with size='192' lazy='lazy.png' class='img-rounded' %}
        <div class="container">
            <p>
                <strong>Управления Отделочных Работ ГК&nbsp;«ССК»</strong> предлагает Вам услуги по комплексному
                выполнению монтажа конструкций, систем и сетей, а также производству специальных и уникальных работ на
                новых и реконструируемых объектах в г.&nbsp;Москве и Московской области.
            </p>

            <div id="service-ceiling"
                 class="service readable clearfix"
            >
                <h2>Натяжные потолки</h2>

                <figure>
                    {% thumb alt='Натяжные потолки' %}
                </figure>

                <p>
                    Натяжной потолок − идеально ровная поверхность, получаемая путем натяжения пленки ПВХ специального
                    состава или же так называемых «тканевых» полотен. Натяжные потолки характеризует широкая цветовая
                    гамма покрытий, возможность заказа фактурного полотна (только для «тканевых» потолков), а также
                    возможность печати на натяжном потолке любого изображения на выбор заказчика.
                </p>

                <p>
                    Так же у натяжных потолков немало преимуществ, таких как: влагозащищенность, пожарная безопасность,
                    быстрота установки, прочность, удобство эксплуатации, долговечность. Наша компания монтирует
                    натяжные потолки согласно всем стандартам качества.
                </p>

                <p>Стоимость натяжного потолка от <span class="price">700</span> рублей за м<sup>2</sup></p>
            </div>


            <div id="service-condition"
                 class="service readable clearfix"
            >
                <h2>Монтаж систем кондиционирования и вентиляции</h2>

                <figure>
                    {% thumb alt='Монтаж систем кондиционирования и вентиляции' %}
                </figure>

                <p>
                    Современная квартира &mdash; большая, просторная, тёплая и тихая, изолированная от внешней среды.
                    Тишину и тепло обеспечивают качественные оконные системы. Но они, с одной стороны, делают потери
                    тепла минимальными и препятствуют проникновению шума, а с другой стороны, препятствуют проникновению
                    свежего воздуха с улицы. Здесь нам поможет современная система вентиляции с эффективной системой
                    очистки воздуха и низкими шумовыми характеристиками.
                </p>

                <p>
                    Специалисты нашей компании осуществляет проектирование и установку вентиляции и кондиционирования
                    любой сложности. Мы берем на себя все этапы работы — от разработки проекта вентиляции до сдачи
                    готовой вентиляционной системы под ключ.
                </p>

                <p>Стоимость монтажа систем кондиционирования и вентиляции от <span class="price">15.000</span> рублей.
                </p>
            </div>


            <div id="service-sewage"
                 class="service readable clearfix"
            >
                <h2>Монтаж систем водоснабжения и канализации</h2>

                <figure>
                    {% thumb alt='Монтаж систем водоснабжения и канализации' %}
                </figure>

                <p>
                    Одним из наиважнейших условий комфорта любой квартиры является наличие в ней холодной и горячей
                    воды. Наша компания оказывает полный спектр услуг по обустройству квартир системами водоснабжения и
                    канализации на максимально выгодных для вас условиях. При необходимости, наши специалисты осуществят
                    монтаж водоснабжения и канализации в квартире «под ключ».
                </p>

                <p>Стоимость монтажа систем водоснабжения и канализации от <span class="price">8.000</span> рублей.</p>
            </div>


            <div id="service-electro"
                 class="service readable clearfix"
            >
                <h2>Монтаж электрических сетей</h2>

                <figure>
                    {% thumb alt='Монтаж электрических сетей' %}
                </figure>

                <p>
                    Современный человек привык к тому, что техника облегчает быт и делает жизнь более приятной. Сейчас
                    редкий дом обходится без телевизора, компьютера, стиральной машины, микроволновой печи и других
                    электроприборов. Так же от исправности электросети зависит безопасность жильцов и сохранность
                    помещения.
                </p>

                <p>
                    Специалисты нашей компании при помощи профессионального оборудования изучают состояние
                    электропроводки на объекте и выявляют места, в которых критично необходимо произвести замену.
                    Впрочем, при затеянном капитальном ремонте полезно сменить всю электропроводку.
                </p>

                <p>
                    Стоимость монтажа электрических сетей специалистами нашей компании
                    от <span class="price">1.000</span> рублей.
                </p>
            </div>


            <div id="service-home"
                 class="service readable clearfix"
            >
                <h2>Умный дом</h2>

                <figure>
                    {% thumb alt='Умный дом' %}
                </figure>

                <p>
                    Умный дом это система интеллектуальной автоматизации для управления инженерными системами дома,
                    проще говоря, это современный дом, в котором предусмотрены все технические услуги для комфортного
                    проживания людей. В доме устанавливаются электронные системы, которые сводят к минимуму заботы о
                    домашних делах, а управление техникой становится простым и что важно экономным, тем самым делая
                    проживание в нем максимально комфортным и безопасным.

                </p>

                <p>
                    В подчинении «Умного дома» находятся системы отопления, вентиляции и кондиционирования, управление
                    освещением и климатом. Он контролирует пожарно-охранную сигнализацию, систему видеонаблюдения,
                    электропитание, утечку газа, протечку воды. Он осуществляет управление с одной точки аудио, видео
                    техникой и домашним кинотеатром. В случае какого- либо происшествия «Умный дом» сообщит вам об
                    инциденте на телефон. Через телефон вы можете так же контролировать всё, что происходит в доме и
                    получать отчет о выполненной работе.
                </p>

                <p>
                    Наша компания предлагает вам услуги по проектированию, поставке и монтажу, программированию,
                    пуско-наладке и сопровождению системы «Умный дом».
                </p>

                <p>Стоимость системы «Умный дом» от <span class="price">70.000</span> рублей.</p>
            </div>
        </div>
    {% endwith %}
{% endblock content %}
