{% extends 'uor/layout/entity.html' %}
{% load compress proj_images %}


{% block link %}
    {{ block.super }}

    {% compress css inline %}
        <style>
            #content h4 {
                font-weight: 600;
            }

            #content figure {
                padding-top: 1rem;
            }

            #content .price {
                color: #d00016;
                font-size: 180%;
                font-weight: 600;
            }
        </style>
    {% endcompress %}
{% endblock link %}


{% block content %}
    {% with size='192' lazy='lazy.png' %}
        <div class="container">
            <p>
                Комплексный ремонт квартир и офисов, дизайн-проект жилого и технического помещения – основные услуги
                нашей компании. Специалисты фирмы «ССК» оказывают ремонтно-строительные работы любой сложности. С
                применением самых новых технологий и высококачественных, экологичных материалов.
            </p>

            <p>Советуем начинать ремонт с разработки проектов!</p>


            <h3>Первый этап &mdash; разработка архитектурно планировочного решения</h3>

            <p>
                Планировочное решение, предлагаемое Застройщиком, не всегда удовлетворяет потребностям Заказчика
                (собственника). В этом случае мы поможем правильно распланировать Ваше пространство. По Вашему заданию
                сделаем планировку с расстановкой мебели, электро-оборудования.
            </p>

            <p class="text-lg">Стоимость работ: <span class="price">200</span> руб./м<sup>2</sup>.</p>

            <h4>Состав:</h4>
            {% with class='img-thumbnail img-fluid' lightbox='planning' %}
                <ol class="push text-lg">
                    <li>содержание;</li>
                    <li>пояснительная записка;</li>
                    <li>обмерочный план;
                        <div class="row">
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/1.30.jpg' title='План до перепланировки' %}
                            </figure>
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/1.31.jpg' title='Обмерочный план' %}
                            </figure>
                        </div>
                    </li>
                    <li>план после перепланировки;
                        <div class="row">
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/1.40.jpg' title='План после перепланировки' %}
                            </figure>
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/1.41.jpg' title='Экспликация помещений' %}
                            </figure>
                        </div>
                    </li>
                    <li>демонтаж;
                        <div class="row">
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/1.50.jpg' title='План демонтажа' %}
                            </figure>
                        </div>
                    </li>
                    <li>кладочный план;
                        <div class="row">
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/1.60.jpg' title='Кладочный план' %}
                            </figure>
                        </div>
                    </li>
                    <li>план полов;
                        <div class="row">
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/1.70.jpg' title='План полов' %}
                            </figure>
                        </div>
                    </li>
                    <li>план потолков;
                        <div class="row">
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/1.80.jpg' title='План потолков' %}
                            </figure>
                        </div>
                    </li>
                    <li>схема трассировки осветительных приборов;
                        <div class="row">
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/1.90.jpg' title='Схема трассировки осветительных приборов' %}
                            </figure>
                        </div>
                    </li>
                    <li>схема расположения розеток с мебелью;
                        <div class="row">
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/1.100.jpg' title='Схема расположения розеток с мебелью' %}
                            </figure>
                        </div>
                    </li>
                    <li>схема расположения розеток и оборудования.
                        <div class="row">
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/1.110.jpg' title='Схема расположения розеток и оборудования' %}
                            </figure>
                        </div>
                    </li>
                </ol>
            {% endwith %}


            <h3>Второй этап &mdash; разработка полного дизайн проекта</h3>

            <p>
                Дизайнер поможет Вам определиться со стилем, подобрать отделочные материалы, мебель, свет. В этот проект
                входит архитектурно-планировочное решение, строительные чертежи, развертки помещений, визуализация всех
                помещений по 2 вида на каждое помещение, ведомость по отделочным материалам. По Вашему желанию, дизайнер
                может осуществлять авторский надзор в ходе ремонтных работ.
            </p>

            <p class="text-lg">Стоимость работ: <span class="price">1500</span> руб./м<sup>2</sup>.</p>

            <h4>В эту стоимость входит:</h4>
            {% with class='img-rounded img-fluid' lightbox='visualization' %}
                <ol class="push text-lg">
                    <li>архитектурный проект: <span>200</span> руб./м<sup>2</sup>;</li>
                    <li>3D-визуализация: <span>500</span> руб./м<sup>2</sup> &mdash; 2 вида на каждое помещение;
                        <div class="row">
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/2.20.jpg' title='3D-визуализация: гостиная' %}
                            </figure>
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/2.21.jpg' title='3D-визуализация: гостиная с камином' %}
                            </figure>
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/2.22.jpg' title='3D-визуализация: кухня в студии' %}
                            </figure>
                            <figure class="col-sm-3">
                                {% thumb 'uor/project/2.23.jpg' title='3D-визуализация: кухня' %}
                            </figure>
                        </div>
                    </li>
                    <li>авторский надзор: <span>12.000</span> рублей в месяц.</li>
                </ol>
            {% endwith %}


            <h3>Третий этап &mdash; разработка инженерных проектов</h3>

            <h4>Состав:</h4>
            <ol class="push text-lg">
                <li>проект по электроснабжению;</li>
                <li>проект воды и канализации;</li>
                <li>проект вентиляции и кондиционирования;</li>
                <li>проект отопления.</li>
            </ol>

            <h3>Последний этап &mdash; расчет стоимости работ</h3>

            <p>
                Мы посчитаем смету на работы и черновые материалы. Подготовим полный пакет договорных документов для
                выхода на ремонтные работы.
            </p>


            <hr class="divider">


            <p>И вот можно приступать к работам.</p>

            <p>
                Вам не придется искать дополнительные подрядные организации по осуществлению монтажа системы
                кондиционирования, разводке инженерных систем. Вам не придется тратить время на поставку строительного
                материала, мы сможем Вам помочь даже с поставкой отделочных материалов.
            </p>

            <p>
                Мы авторитетно заявляем, что выражение: «Ремонт как потоп» с нами не работает и ремонт в Вашей квартире
                пройдет без особых хлопот, а конечный результат будет только радовать Вас и Ваших близких. Высокое
                качество наших работ гарантированно!
            </p>
        </div>
    {% endwith %}
{% endblock content %}
