{% extends "admin/change_list.html" %}

{% block extrastyle %}
    {{ block.super }}

    <style><!--
        .column-state {
            width: 56px;
        }
        .column-get_date {
            width: 80px;
        }
        .column-email,
        .column-phone {
            width: 256px;
        }
        .column-get_site {
            width: 256px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    --></style>
{% endblock %}
