<meta name="viewport"
      content="width=device-width,initial-scale=1">

{# Disable tap highlight on IE #}
<meta name="msapplication-tap-highlight"
      content="no">

{# Web Application Manifest #}
<link rel="manifest"
      href="/manifest.json">

{# Add to homescreen for Chrome on Android #}
<meta name="mobile-web-app-capable"
      content="yes">
<meta name="application-name"
      content="{{ application_name }}">
<link rel="icon"
      type="image/png"
      href="/images/touch/android-chrome-192x192.png"
      sizes="192x192">

{# Add to homescreen for Safari on iOS #}
<meta name="apple-mobile-web-app-capable"
      content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
      content="black-translucent">
<meta name="apple-mobile-web-app-title"
      content="Web Developments">
<link rel="apple-touch-icon"
      sizes="152x152"
      href="/images/touch/apple-touch-icon-152x152.png">
{% comment %}
<link rel="apple-touch-icon"
      sizes="57x57"
      href="/images/touch/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon"
      sizes="60x60"
      href="/images/touch/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon"
      sizes="72x72"
      href="/images/touch/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon"
      sizes="76x76"
      href="/images/touch/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon"
      sizes="114x114"
      href="/images/touch/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon"
      sizes="120x120"
      href="/images/touch/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon"
      sizes="144x144"
      href="/images/touch/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon"
      sizes="180x180"
      href="/images/touch/apple-touch-icon-180x180.png">
<link rel="mask-icon"
      sizes="any"
      href="/images/touch/safari-pinned-tab.svg"
      data-color="{{ pinned_color|default:'#5bbad5' }}">
{% endcomment %}

{# Tile icon for Win8 (144x144 + tile color) #}
<meta name="msapplication-TileImage"
      content="/images/touch/mstile-144x144.png">
<meta name="msapplication-TileColor"
      content="{{ tile_color|default:'#da532c' }}">

{# Color the status bar on mobile devices #}
<meta name="theme-color"
      content="{{ theme_color|default:'#2f3ba2' }}">

{# Favicons #}
{% comment %}
<link rel="icon"
      type="image/png"
      href="/images/icons/favicon-16x16.png"
      sizes="16x16">
<link rel="icon"
      type="image/png"
      href="/images/icons/favicon-32x32.png"
      sizes="32x32">
<link rel="icon"
      type="image/png"
      href="/images/icons/favicon-96x96.png"
      sizes="96x96">
{% endcomment %}
