{% extends default:'content/layout.html' %}
{% load proj_helpers proj_content %}


{% block name %}
    <h1 itemprop="name">{{ object.name|safe }}</h1>
{% endblock name %}


{% block content %}
    {% if object.annotation %}
        <div itemprop="headline">
            {% render_content object.annotation %}
        </div>
        {% render_content object.content %}
    {% else %}
        <div itemprop="headline">
            {% render_content object.content %}
        </div>
    {% endif %}

    {% if object.cluster %}
        {% content_tree object %}
    {% endif %}

    {% with date=object.published_date|default:object.create_date %}
        <meta
            itemprop="datePublished"
            content="{{ date|date:'Y-m-d' }}"
        >
    {% endwith %}
{% endblock content %}
