<div id="business"
     class="ribbon narrow dark"
>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 class="large">Группа компаний «ССК»</h2>
                <a rel="nofollow"
                   class="small"
                   href="//goo.gl/PUAWWN"
                   target="_blank"
                >
                    <span class="icon icon-map-marker"
                          aria-hidden="true"
                    ></span>
                    127006, Москва,ул.&nbsp;Малая Дмитровка, д.&nbsp;18а, стр.&nbsp;3
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 text-sm-right">
                <a class="phone large"
                   href="tel://+74953634582"
                >
                    <span class="icon icon-phone"
                          aria-hidden="true"
                    ></span>
                    +7 (495) 363-45-82
                </a>
                <div class="small">
                    <span class="icon icon-clock-o"
                          aria-hidden="true"
                    ></span>
                    c 9<sup>00</sup> до 19<sup>00</sup>
                </div>
            </div>
        </div>
    </div>
</div>
